!!! 5
%html
  %head
    %title Product Science | Cleanweb Product Development
    %meta{ 'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1.0'}
    %meta{ 'description' => 'viewport', 'content' => 'Product Science - Cleanweb Product Development'}

    = stylesheet_link_tag 'pure'
    = stylesheet_link_tag 'grids-responsive'
    = stylesheet_link_tag 'base'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:300,400,700'
    = stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'

  %body

    .pure-g

      .pure-u-1
        .header

          .pure-u-1-3
            %h1 Product Science

          .pure-u-1-2
            %ul.pure-menu.pure-menu-horizontal
              %li Home
              %li Services
              %li Team
              %li Contact

      .pure-u-1
        #hero

          %img.pure-img{ src:"/images/wind-turbine-road-2x.jpg" }

          %div.tagline
            %h2 Cleanweb Product Development
            %h3 We build digital products to help people solving environmental and social problems.
            %h3 If that sounds like you, we’re here to help you get where you need to be.

      .pure-u-1

        #services

          .pure-g

            .pure-u-1

              .l-box
                %h2 Services

          .pure-g

            .pure-u-1-3

              .user-research.l-box
                %h3 User research and content strategy
                %p Understand who your users are, and how your site is being used. We help you with user testing, making sense of your web stats, and keeping your content concise and relevant to your audience.

            .pure-u-1-3

              .development.l-box
                %h3 Development
                %p We build accessible, elegant, usable sites and web applications with open source software, and agile development practices. We specialise in using Django, Ruby on Rails, and Wordpress.

            .pure-u-1-3
              .hosting.l-box
                %h3 Hosting
                %p Rest easy with your sites running on secure, reliable, flexible cloud hosting, powered by planet friendly, clean energy.

      .pure-u-1
        #team

          .pure-u-1
            .l-box
              %h2 Team

          .pure-g

            .pure-u-1-3
              .chris.l-box
                %figure.portrait
                  %img{ src: "/images/chris-photo-150px.jpg" }
                %h3
                  Chris Adams

                %ul.profile-links
                  %i.fa.fa-linkedin
                    Chris Adams

                  %li.twitter
                    %i.fa.fa-twitter
                    @mrchrisadams
                  %li.github
                    %i.fa.fa-github
                    mrchrisadams

            .pure-u-1-3
              .joe.l-box
                %figure.portrait
                  %img{ src: "/images/joe-photo-150px.jpg" }
                %h3 Joe Short

                %ul.profile-links
                  %i.fa.fa-linkedin
                    Joe Short
                  %li.twitter
                    %i.fa.fa-twitter
                    @joeshort
                  %li.github
                    %i.fa.fa-github
                    joeshort


            .pure-u-1-3

              .phillippa.l-box

                %figure.portrait
                  %img{ src: "/images/phillippa-photo-150px.jpg" }
                %h3 Phillippa Morland

                %ul.profile-links
                  %i.fa.fa-linkedin
                    Phillippa Morland
                  %li.twitter
                    %i.fa.fa-twitter
                    @phillimorland
                  %li.github
                    %i.fa.fa-github
                    phillimorland


      .pure-u-1
        #who-we-work-with

          .pure-u-1
            .l-box
              %h2 Who we've worked with


          .pure-g
            .pure-u-1-3
              %figure.client-logo
                %img{ src: "/images/client-logos/provenance.png" }

              %figure.client-logo
                %img{ src: "/images/client-logos/dxw.png" }

            .pure-u-1-3

              %figure.client-logo
                %img{ src: "/images/client-logos/tsb.png" }

              %figure.client-logo
                %img{ src: "/images/client-logos/loco2.png" }

            .pure-u-1-3

              %figure.client-logo
                %img{ src: "/images/client-logos/mydex.png" }

              %figure.client-logo
                %img{ src: "/images/client-logos/mysociety.png" }





      .pure-u-1

        #contact

          .pure-u-1
            .l-box
              %h2 Contact

          .pure-g

            .pure-u-1-2
              .l-box
                %form.pure-form
                  .pure-g
                    .pure-u-1-2
                      %input{ title: "name", type: "text", placeholder: "name"}
                    .pure-u-1-2
                      %input{ title: "email", type: "text", placeholder: "email"}
                  .pure-g
                    .pure-u-1
                      %textarea.pure-input-{ title: "message", placeholder: "Enter your message here", rows: 10 }
                  .pure-g
                    .pure-u-md-2-3
                      %button.pure-button.pure-button-primary{ type: "submit" } Send message


            .pure-u-1-2
              .l-box
                .pure-g
                  .pure-u-1-2
                    %h3 Email:
                    %h4 contact@productscience.co.uk

                  .pure-u-1-2
                    %h3 Phone:
                    %h4 + 44 203 322 5777

                .pure-g.address

                  .pure-u-1-1
                    %h3 Address:

                  .pure-u-1-2
                    %ul.city
                      %li
                        %h4 London
                      %li 109 Pembury Road
                      %li London N17 8LY

                  .pure-u-1-2
                    %ul.city
                      %li
                        %h4 Berlin
                      %li 109 Pembury Road
                      %li London N17 8LY

                %div.company-details
                  %p Product Science Ltd is a company registered in England and Wales.
                  %p Reg. No: 08332887. VAT No: GB172453217

      .pure-u-1
        %footer
          %p © 2014 Product Science. Hosted on zero carbon servers in Iceland, by Greenqloud. Other credits for bits in use. Impressum
